main {
  height: 100%;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #1A1A1A;
  box-sizing: border-box;
}

.loading {
  color: white;
  font-size: 64px;
}

.error {
  color: red;
  font-size: 64px;
}